<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Don pour le cancer de la gorge</title>
  <link rel="stylesheet" type="text/css" href="style.css">

</head>

<body>
<!-- Navigation bar -->
<div th:replace="fragments/navbar :: navbar"></div>


<!-- Main content -->
<main>
  <h1>Faites un don pour le cancer de la gorge</h1>
  <img class="image" src="resources/cancerGorge.jpg" alt="">

  <p>Le cancer de la gorge est une maladie très répandue et nous avons besoin de votre aide pour continuer notre travail de recherche.</p>
  <a href="/don" class="button">Faire un don</a>
</main>

<!-- Footer -->
<footer>
  <p>&copy; 2023 Don pour le cancer de la gorge. Tous droits réservés.</p>
</footer>
</body>

</html>